extends ../layouts/default.pug

block content
  .card-list._clearfix
    if links.github
      .card-item
        link(
          rel="prefetch"
          href=links.github.url
        )
        a.content.-github(
          title=links.github.name
          href=links.github.url
        )
          .icon
          //- .name GitHub

    if links.habrahabr
      .card-item
        link(
          rel="prefetch"
          href=links.habrahabr.url
        )
        a.content.-habrahabr(
          title=links.habrahabr.name
          href=links.habrahabr.url
        )
          .icon
          //- .name Habrahabr

    if links.twitter
      .card-item
        link(
          rel="prefetch"
          href=links.twitter.url
        )
        a.content.-twitter(
          title=links.twitter.name
          href=links.twitter.url
        )
          .icon
          //- .name Twitter

    if links.npm
      .card-item
        link(
          rel="prefetch"
          href=links.npm.url
        )
        a.content.-npm(
          title=links.npm.name
          href=links.npm.url
        )
          .icon
          //- .name NPM

    if links.dockerhub
      .card-item
        link(
          rel="prefetch"
          href=links.dockerhub.url
        )
        a.content.-docker-hub(
          title=links.dockerhub.name
          href=links.dockerhub.url
        )
          .icon
          //- .name Docker Hub

    if links.headhunter
      .card-item
        link(
          rel="prefetch"
          href=links.headhunter.url
        )
        a.content.-headhunter(
          title=links.headhunter.name
          href=links.headhunter.url
        )
          .icon
          //- .name HeadHunter
