include ../mixins/index.pug

doctype html
html(
  lang= lang || "en"
  prefix= seo ? "og: http://ogp.me/ns#" : null
  )
  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title

    //- SEO
    if seo
      +seo(seo)

    //- Icons
    if icons
      +icon(icons)

    block head
  body
    block content

    //- CSS
    style(
      id= "css-index"
      media="all"
    )
      include:stylus:clean-css ../../styles/style.styl

    //- Counters
    if counters
      +counter(counters)
