//- Init
mixin icon(icons)
  if icons.apple
    +icon-apple(icons.apple)
  if icons.basic
    +icon-basic(icons.basic)

  if icons.favicon
    +icon-favicon(icons.favicon)

//- Apple
mixin icon-apple(icons)
  each iconSize in icons.sizes
    link(
      rel="apple-touch-icon"
      sizes= iconSize
      href="#{icons.src}#{icons.namebase}-#{iconSize}.png"
    )

//- Basic
mixin icon-basic(icons)
  each iconSize in icons.sizes
    link(
      rel="icon"
      type="image/png"
      sizes= iconSize
      href="#{icons.src}#{icons.namebase}-#{iconSize}.png"
    )

//- Favicon
mixin icon-favicon(icon)
  link(
    rel="icon"
    href= icon.src
    type="image/x-icon"
  )
